<div class="flex items-center flex-col mt-8">

  <a class="relative block p-8 border border-gray-200 shadow-xl rounded-xl">
    <div class="flex flex-row flex-wrap justify-center mx-4">
    <span class="top-4 rounded px-3 py-1.5 mr-3 bg-red-100 text-red-600 font-medium text-base cursor-pointer">
    Pomodoro
  </span>
      <span class=" top-4 rounded px-3 py-1.5 mr-3 bg-red-100 text-red-600 font-medium text-base cursor-pointer">
    Short Break
  </span>
      <span class=" top-4 rounded px-3 py-1.5 mr-3 bg-red-100 text-red-600 font-medium text-base cursor-pointer">
    Long Break
  </span>
    </div>
    <div class=" flex flex-col items-center mt-4 text-black sm:pr-8">
      <p class="text-8xl py-6">25:0</p>
      <div class="py-3">
        <a
          class="inline-flex items-center px-8  py-3 text-red-600 border border-red-600 rounded hover:bg-red-600 hover:text-white active:bg-red-500 focus:outline-none focus:ring"
          href="/app">
  <span class="text-2xl font-medium ">
    Start
  </span>
        </a>
      </div>

    </div>
  </a>
</div>
