<div class="bg-gray-50 min-h-screen flex items-center justify-between px-16">
  <div class="relative">
  <div class="text-8xl text-red-500 animate-up delay-1000">Pomodoro</div>
    <p class="text-left text-lg tracking-wide font-medium delay-1000">Pomodoro Tracker is a productivity app designed for your <br>work and study. Stay focused and finish tasks effectively.<br> Take more time to your life.</p>
</div>
  <div class="relative w-full max-w-lg">
    <div class="absolute top-0 -left-4 w-72 h-72 bg-red-500 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob"></div>
    <div class="absolute top-0 -right-4 w-72 h-72 bg-orange-200 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000"></div>
    <div class="absolute -bottom-8 left-20 w-72 h-72 bg-amber-400 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000"></div>
    <div class="m-8 relative space-y-4">
      <div class="p-5 bg-white rounded-lg flex items-center justify-between space-x-8">
        <div class="flex-1">
          <p >Try Now</p>
        </div>
        <div>
          <div class="w-24 h-6 rounded-lg bg-purple-300"></div>
        </div>
      </div>
      <div class="p-5 bg-white rounded-lg flex items-center justify-between space-x-8">
        <div class="flex-1">
          <p class="font-medium text-lg text-left indent-8">Wanna Try</p>
        </div>
        <div>
          <a class="inline-flex items-center px-8 py-3 text-red-600 border border-red-600 rounded hover:bg-red-600 hover:text-white active:bg-red-500 focus:outline-none focus:ring" href="/download">
  <span class="text-lg font-medium">
    Get Started
  </span>

            <svg class="w-5 h-5 ml-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
          </a>
        </div>
      </div>
      <div class="p-5 bg-white rounded-lg flex items-center justify-between space-x-8">
        <div class="flex-1">
          <div class="h-4 w-44 bg-gray-300 rounded"></div>
        </div>
        <div>
          <div class="w-28 h-6 rounded-lg bg-pink-300"></div>
        </div>
      </div>
    </div>
  </div>
</div>
